@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
#bootstrap-overrides {
  background-color: black;
}


@media (prefers-reduced-motion: no-preference) {
  canvas {
    animation: canvas-spin infinite 20s linear;
    border: solid white;
    border-radius: 50%;
  }
}

@keyframes canvas-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}